@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .header {
    @apply text-base text-black dark:text-white hover:text-action
  }
}

@layer components {
  .headerGray {
    @apply text-base text-textGray
  }
}


@layer components {
  .text {
    @apply text-sm text-black dark:text-white hover:text-action
  }
}


@layer components {
  .textGray {
    @apply text-sm text-textGray
  }
}



@layer components {
  .btn {
    @apply bg-action text-white rounded-3xl p-3 px-6 text-sm
  }
}

@layer components {
  .btnWhite {
    @apply bg-textGray dark:bg-white text-white dark:text-action rounded-3xl p-3 px-6 text-sm
  }
}


@layer components {
  .input {
    @apply bg-secondary dark:bg-secondaryDark border border-textGray rounded-md p-2 my-1 text-textGray
  }
}


@layer components {
  .label {
    @apply text-textGray dark:text-white text-sm mb-1 mt-2
  }
}


@layer components {
  .tabActive {
    @apply flex items-center bg-action py-2 pl-4 text-white rounded-r-2xl mr-8
  }
}

@layer components {
  .tabInactive {
    @apply flex items-center py-2 pl-4 text-textGray
  }
}


::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(105,107,129);
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(111, 75, 183);
    border-radius: 100px;
}
